.body{
    font-family: 'Arial', sans-serif;
    color: black;
}

#backToTop {
        position: fixed;
        bottom: 2em;
        right: 1em;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #0183c0;
        color: white;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: opacity 0.3s;
}

.flex1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin:0;
      background-color:rgb(218, 225, 231);
      color:black;
      border-bottom: solid 2px rgb(189, 189, 189);
      width: 100%;
      height: auto;
      border-top: solid 2px rgb(189, 189, 189);
    }

    .text{
        font-size: 1.5rem;
        margin-top: 0.5em;
    }

    .button{
        background-color:#0183c0;
        border: none;
        border-radius: 4px;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin-top: 2em;
        margin-bottom: 2em;
        color: black;
    }

    .button:hover{
        background-color: #50bef1;
        cursor: pointer;
        transition: 100ms;
        transform: scale(1.05);
        transition: transform 0.3s;
    }

    .footer{
        display: flex;
        flex-direction: row;
        background-color:rgb(218, 225, 231);
        border-bottom: solid 2px rgb(189, 189, 189);
        width: 100%;
        height: auto;
        color : black;
    }

    .text2{
        font-size: 1.5rem;
        text-align: start;
        margin-left: auto;
        margin-left: 2em;
    }

    .social-media{
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: 2em;
    }

    .social-media:hover{
        cursor: pointer;
    }

    .text3{
        font-size: 1.5rem;
        margin-right: 2em;
        margin-left: auto;
    }

    .support{
        font-weight: bolder;
    }

    .Followus{
        font-weight: bolder;
    }

    .text1{
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: 2em;
    }

    .GBM{
        font-weight: bolder;
    }

    .footer2{
        display: flex;
        flex-direction: row;
        background-color:rgb(218, 225, 231);
        border-bottom: solid 2px rgb(189, 189, 189);
        width: 100%;
        height: auto;
        color: black;
    }

    .text5{
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .text4{
        font-size: 1rem;
        margin-left: 3rem;
        margin-right: auto;
    }

    .text6{
        font-size: 1rem;
        margin-left: auto;
        margin-right: 3rem;
    }